
NET "real_output_new<0>" LOC = P35 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output_new<1>" LOC = P33 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output_new<2>" LOC = P30 | IOSTANDARD = LVTTL | PULLDOWN;


NET "real_output<0>" LOC = P22 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<1>" LOC = P17 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<2>" LOC = P15 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<3>" LOC = P12 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<4>" LOC = P10 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<5>" LOC = P8 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<6>" LOC = P6 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<7>" LOC = P2 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<8>" LOC = P144 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<9>" LOC = P142 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<10>" LOC = P140 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<11>" LOC = P138 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<12>" LOC = P134 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<13>" LOC = P132 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<14>" LOC = P50 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<15>" LOC = P40 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<16>" LOC = P34 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<17>" LOC = P1 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<18>" LOC = P29 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<19>" LOC = P26 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<20>" LOC = P23 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<21>" LOC = P21 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<22>" LOC = P16 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<23>" LOC = P14 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<24>" LOC = P11 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<25>" LOC = P9 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<26>" LOC = P7 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<27>" LOC = P5 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<28>" LOC = P58 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<29>" LOC = P67 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<30>" LOC = P75 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<31>" LOC = P79 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<32>" LOC = P81 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<33>" LOC = P83 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<34>" LOC = P85 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<35>" LOC = P88 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<36>" LOC = P93 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<37>" LOC = P95 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<38>" LOC = P98 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<39>" LOC = P100 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<40>" LOC = P102 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<41>" LOC = P105 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<42>" LOC = P57 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<43>" LOC = P66 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<44>" LOC = P74 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<45>" LOC = P78 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<46>" LOC = P80 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<47>" LOC = P82 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<48>" LOC = P84 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<49>" LOC = P87 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<50>" LOC = P92 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<51>" LOC = P94 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<52>" LOC = P97 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<53>" LOC = P99 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<54>" LOC = P101 | IOSTANDARD = LVTTL | PULLDOWN;
NET "real_output<55>" LOC = P104 | IOSTANDARD = LVTTL | PULLDOWN;

NET "real_input" LOC = P127 | IOSTANDARD = LVTTL | PULLDOWN;

NET "display_lives<0>" LOC = P139 | IOSTANDARD = LVTTL | PULLDOWN;
NET "display_lives<1>" LOC = P137 | IOSTANDARD = LVTTL | PULLDOWN;
NET "display_lives<2>" LOC = P126 | IOSTANDARD = LVTTL | PULLDOWN;
NET "display_lives<3>" LOC = P131 | IOSTANDARD = LVTTL | PULLDOWN;
NET "display_lives<4>" LOC = P133 | IOSTANDARD = LVTTL | PULLDOWN;
NET "display_lives<5>" LOC = P141 | IOSTANDARD = LVTTL | PULLDOWN;
NET "display_lives<6>" LOC = P143 | IOSTANDARD = LVTTL | PULLDOWN;

NET "display_lsb<0>" LOC = P115 | IOSTANDARD = LVTTL | PULLDOWN;
NET "display_lsb<1>" LOC = P117 | IOSTANDARD = LVTTL | PULLDOWN;
NET "display_lsb<2>" LOC = P124 | IOSTANDARD = LVTTL | PULLDOWN;
NET "display_lsb<3>" LOC = P121 | IOSTANDARD = LVTTL | PULLDOWN;
NET "display_lsb<4>" LOC = P119 | IOSTANDARD = LVTTL | PULLDOWN;
NET "display_lsb<5>" LOC = P112 | IOSTANDARD = LVTTL | PULLDOWN;
NET "display_lsb<6>" LOC = P111 | IOSTANDARD = LVTTL | PULLDOWN;

NET "display_msb<0>" LOC = P118 | IOSTANDARD = LVTTL | PULLDOWN;
NET "display_msb<1>" LOC = P120 | IOSTANDARD = LVTTL | PULLDOWN;
NET "display_msb<2>" LOC = P41 | IOSTANDARD = LVTTL | PULLDOWN;
NET "display_msb<3>" LOC = P51 | IOSTANDARD = LVTTL | PULLDOWN;
NET "display_msb<4>" LOC = P123 | IOSTANDARD = LVTTL | PULLDOWN;
NET "display_msb<5>" LOC = P116 | IOSTANDARD = LVTTL | PULLDOWN;
NET "display_msb<6>" LOC = P114 | IOSTANDARD = LVTTL | PULLDOWN;

