
NET "real_output_new[0]" LOC = P35;
NET "real_output_new[0]" IOSTANDARD = LVTTL;
NET "real_output_new[0]" PULLDOWN;
NET "real_output_new[1]" LOC = P33;
NET "real_output_new[1]" IOSTANDARD = LVTTL;
NET "real_output_new[1]" PULLDOWN;
NET "real_output_new[2]" LOC = P30;
NET "real_output_new[2]" IOSTANDARD = LVTTL;
NET "real_output_new[2]" PULLDOWN;


NET "real_output[0]" LOC = P22;
NET "real_output[0]" IOSTANDARD = LVTTL;
NET "real_output[0]" PULLDOWN;
NET "real_output[1]" LOC = P17;
NET "real_output[1]" IOSTANDARD = LVTTL;
NET "real_output[1]" PULLDOWN;
NET "real_output[2]" LOC = P15;
NET "real_output[2]" IOSTANDARD = LVTTL;
NET "real_output[2]" PULLDOWN;
NET "real_output[3]" LOC = P12;
NET "real_output[3]" IOSTANDARD = LVTTL;
NET "real_output[3]" PULLDOWN;
NET "real_output[4]" LOC = P10;
NET "real_output[4]" IOSTANDARD = LVTTL;
NET "real_output[4]" PULLDOWN;
NET "real_output[5]" LOC = P8;
NET "real_output[5]" IOSTANDARD = LVTTL;
NET "real_output[5]" PULLDOWN;
NET "real_output[6]" LOC = P6;
NET "real_output[6]" IOSTANDARD = LVTTL;
NET "real_output[6]" PULLDOWN;
NET "real_output[7]" LOC = P2;
NET "real_output[7]" IOSTANDARD = LVTTL;
NET "real_output[7]" PULLDOWN;
NET "real_output[8]" LOC = P144;
NET "real_output[8]" IOSTANDARD = LVTTL;
NET "real_output[8]" PULLDOWN;
NET "real_output[9]" LOC = P142;
NET "real_output[9]" IOSTANDARD = LVTTL;
NET "real_output[9]" PULLDOWN;
NET "real_output[10]" LOC = P140;
NET "real_output[10]" IOSTANDARD = LVTTL;
NET "real_output[10]" PULLDOWN;
NET "real_output[11]" LOC = P138;
NET "real_output[11]" IOSTANDARD = LVTTL;
NET "real_output[11]" PULLDOWN;
NET "real_output[12]" LOC = P134;
NET "real_output[12]" IOSTANDARD = LVTTL;
NET "real_output[12]" PULLDOWN;
NET "real_output[13]" LOC = P132;
NET "real_output[13]" IOSTANDARD = LVTTL;
NET "real_output[13]" PULLDOWN;
NET "real_output[14]" LOC = P50;
NET "real_output[14]" IOSTANDARD = LVTTL;
NET "real_output[14]" PULLDOWN;
NET "real_output[15]" LOC = P40;
NET "real_output[15]" IOSTANDARD = LVTTL;
NET "real_output[15]" PULLDOWN;
NET "real_output[16]" LOC = P34;
NET "real_output[16]" IOSTANDARD = LVTTL;
NET "real_output[16]" PULLDOWN;
NET "real_output[17]" LOC = P1;
NET "real_output[17]" IOSTANDARD = LVTTL;
NET "real_output[17]" PULLDOWN;
NET "real_output[18]" LOC = P29;
NET "real_output[18]" IOSTANDARD = LVTTL;
NET "real_output[18]" PULLDOWN;
NET "real_output[19]" LOC = P26;
NET "real_output[19]" IOSTANDARD = LVTTL;
NET "real_output[19]" PULLDOWN;
NET "real_output[20]" LOC = P23;
NET "real_output[20]" IOSTANDARD = LVTTL;
NET "real_output[20]" PULLDOWN;
NET "real_output[21]" LOC = P21;
NET "real_output[21]" IOSTANDARD = LVTTL;
NET "real_output[21]" PULLDOWN;
NET "real_output[22]" LOC = P16;
NET "real_output[22]" IOSTANDARD = LVTTL;
NET "real_output[22]" PULLDOWN;
NET "real_output[23]" LOC = P14;
NET "real_output[23]" IOSTANDARD = LVTTL;
NET "real_output[23]" PULLDOWN;
NET "real_output[24]" LOC = P11;
NET "real_output[24]" IOSTANDARD = LVTTL;
NET "real_output[24]" PULLDOWN;
NET "real_output[25]" LOC = P9;
NET "real_output[25]" IOSTANDARD = LVTTL;
NET "real_output[25]" PULLDOWN;
NET "real_output[26]" LOC = P7;
NET "real_output[26]" IOSTANDARD = LVTTL;
NET "real_output[26]" PULLDOWN;
NET "real_output[27]" LOC = P5;
NET "real_output[27]" IOSTANDARD = LVTTL;
NET "real_output[27]" PULLDOWN;
NET "real_output[28]" LOC = P58;
NET "real_output[28]" IOSTANDARD = LVTTL;
NET "real_output[28]" PULLDOWN;
NET "real_output[29]" LOC = P67;
NET "real_output[29]" IOSTANDARD = LVTTL;
NET "real_output[29]" PULLDOWN;
NET "real_output[30]" LOC = P75;
NET "real_output[30]" IOSTANDARD = LVTTL;
NET "real_output[30]" PULLDOWN;
NET "real_output[31]" LOC = P79;
NET "real_output[31]" IOSTANDARD = LVTTL;
NET "real_output[31]" PULLDOWN;
NET "real_output[32]" LOC = P81;
NET "real_output[32]" IOSTANDARD = LVTTL;
NET "real_output[32]" PULLDOWN;
NET "real_output[33]" LOC = P83;
NET "real_output[33]" IOSTANDARD = LVTTL;
NET "real_output[33]" PULLDOWN;
NET "real_output[34]" LOC = P85;
NET "real_output[34]" IOSTANDARD = LVTTL;
NET "real_output[34]" PULLDOWN;
NET "real_output[35]" LOC = P88;
NET "real_output[35]" IOSTANDARD = LVTTL;
NET "real_output[35]" PULLDOWN;
NET "real_output[36]" LOC = P93;
NET "real_output[36]" IOSTANDARD = LVTTL;
NET "real_output[36]" PULLDOWN;
NET "real_output[37]" LOC = P95;
NET "real_output[37]" IOSTANDARD = LVTTL;
NET "real_output[37]" PULLDOWN;
NET "real_output[38]" LOC = P98;
NET "real_output[38]" IOSTANDARD = LVTTL;
NET "real_output[38]" PULLDOWN;
NET "real_output[39]" LOC = P100;
NET "real_output[39]" IOSTANDARD = LVTTL;
NET "real_output[39]" PULLDOWN;
NET "real_output[40]" LOC = P102;
NET "real_output[40]" IOSTANDARD = LVTTL;
NET "real_output[40]" PULLDOWN;
NET "real_output[41]" LOC = P105;
NET "real_output[41]" IOSTANDARD = LVTTL;
NET "real_output[41]" PULLDOWN;
NET "real_output[42]" LOC = P57;
NET "real_output[42]" IOSTANDARD = LVTTL;
NET "real_output[42]" PULLDOWN;
NET "real_output[43]" LOC = P66;
NET "real_output[43]" IOSTANDARD = LVTTL;
NET "real_output[43]" PULLDOWN;
NET "real_output[44]" LOC = P74;
NET "real_output[44]" IOSTANDARD = LVTTL;
NET "real_output[44]" PULLDOWN;
NET "real_output[45]" LOC = P78;
NET "real_output[45]" IOSTANDARD = LVTTL;
NET "real_output[45]" PULLDOWN;
NET "real_output[46]" LOC = P80;
NET "real_output[46]" IOSTANDARD = LVTTL;
NET "real_output[46]" PULLDOWN;
NET "real_output[47]" LOC = P82;
NET "real_output[47]" IOSTANDARD = LVTTL;
NET "real_output[47]" PULLDOWN;
NET "real_output[48]" LOC = P84;
NET "real_output[48]" IOSTANDARD = LVTTL;
NET "real_output[48]" PULLDOWN;
NET "real_output[49]" LOC = P87;
NET "real_output[49]" IOSTANDARD = LVTTL;
NET "real_output[49]" PULLDOWN;
NET "real_output[50]" LOC = P92;
NET "real_output[50]" IOSTANDARD = LVTTL;
NET "real_output[50]" PULLDOWN;
NET "real_output[51]" LOC = P94;
NET "real_output[51]" IOSTANDARD = LVTTL;
NET "real_output[51]" PULLDOWN;
NET "real_output[52]" LOC = P97;
NET "real_output[52]" IOSTANDARD = LVTTL;
NET "real_output[52]" PULLDOWN;
NET "real_output[53]" LOC = P99;
NET "real_output[53]" IOSTANDARD = LVTTL;
NET "real_output[53]" PULLDOWN;
NET "real_output[54]" LOC = P101;
NET "real_output[54]" IOSTANDARD = LVTTL;
NET "real_output[54]" PULLDOWN;
NET "real_output[55]" LOC = P104;
NET "real_output[55]" IOSTANDARD = LVTTL;
NET "real_output[55]" PULLDOWN;

NET "real_input" LOC = P127;
NET "real_input" IOSTANDARD = LVTTL;
NET "real_input" PULLDOWN;

NET "display_lives[0]" LOC = P139;
NET "display_lives[0]" IOSTANDARD = LVTTL;
NET "display_lives[0]" PULLDOWN;
NET "display_lives[1]" LOC = P137;
NET "display_lives[1]" IOSTANDARD = LVTTL;
NET "display_lives[1]" PULLDOWN;
NET "display_lives[2]" LOC = P126;
NET "display_lives[2]" IOSTANDARD = LVTTL;
NET "display_lives[2]" PULLDOWN;
NET "display_lives[3]" LOC = P131;
NET "display_lives[3]" IOSTANDARD = LVTTL;
NET "display_lives[3]" PULLDOWN;
NET "display_lives[4]" LOC = P133;
NET "display_lives[4]" IOSTANDARD = LVTTL;
NET "display_lives[4]" PULLDOWN;
NET "display_lives[5]" LOC = P141;
NET "display_lives[5]" IOSTANDARD = LVTTL;
NET "display_lives[5]" PULLDOWN;
NET "display_lives[6]" LOC = P143;
NET "display_lives[6]" IOSTANDARD = LVTTL;
NET "display_lives[6]" PULLDOWN;

NET "display_lsb[0]" LOC = P115;
NET "display_lsb[0]" IOSTANDARD = LVTTL;
NET "display_lsb[0]" PULLDOWN;
NET "display_lsb[1]" LOC = P117;
NET "display_lsb[1]" IOSTANDARD = LVTTL;
NET "display_lsb[1]" PULLDOWN;
NET "display_lsb[2]" LOC = P124;
NET "display_lsb[2]" IOSTANDARD = LVTTL;
NET "display_lsb[2]" PULLDOWN;
NET "display_lsb[3]" LOC = P121;
NET "display_lsb[3]" IOSTANDARD = LVTTL;
NET "display_lsb[3]" PULLDOWN;
NET "display_lsb[4]" LOC = P119;
NET "display_lsb[4]" IOSTANDARD = LVTTL;
NET "display_lsb[4]" PULLDOWN;
NET "display_lsb[5]" LOC = P112;
NET "display_lsb[5]" IOSTANDARD = LVTTL;
NET "display_lsb[5]" PULLDOWN;
NET "display_lsb[6]" LOC = P111;
NET "display_lsb[6]" IOSTANDARD = LVTTL;
NET "display_lsb[6]" PULLDOWN;

NET "display_msb[0]" LOC = P118;
NET "display_msb[0]" IOSTANDARD = LVTTL;
NET "display_msb[0]" PULLDOWN;
NET "display_msb[1]" LOC = P120;
NET "display_msb[1]" IOSTANDARD = LVTTL;
NET "display_msb[1]" PULLDOWN;
NET "display_msb[2]" LOC = P41;
NET "display_msb[2]" IOSTANDARD = LVTTL;
NET "display_msb[2]" PULLDOWN;
NET "display_msb[3]" LOC = P51;
NET "display_msb[3]" IOSTANDARD = LVTTL;
NET "display_msb[3]" PULLDOWN;
NET "display_msb[4]" LOC = P123;
NET "display_msb[4]" IOSTANDARD = LVTTL;
NET "display_msb[4]" PULLDOWN;
NET "display_msb[5]" LOC = P116;
NET "display_msb[5]" IOSTANDARD = LVTTL;
NET "display_msb[5]" PULLDOWN;
NET "display_msb[6]" LOC = P114;
NET "display_msb[6]" IOSTANDARD = LVTTL;
NET "display_msb[6]" PULLDOWN;

